@inherits LayoutComponentBase
<div class="flex">

    <main class="flex flex-col flex-grow">
        <div class="bg-gradient-to-r from-purple-500 to-cyan-500 p-3 shadow-lg">
            <NavMenu />
        </div>

        <article class="p-4">
            @Body
        </article>
    </main>
</div>