@inherits LayoutComponentBase
<div class="flex">

    <main class="bg-gradient-to-b from-white to-teal-200 flex flex-col flex-grow h-screen">
        <div class="p-2">
            <NavMenu />            
        </div>

        <article class="p-4">
            @Body
        </article>
    </main>
</div>